@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
  }

  .modal-content {
    display: block;
    background: white;
    width: 50%;
    height: 70%;
    padding: 1rem;
    border-radius: 1rem; background-color: gray;
  }
  
  .modal-box {
    display: block;
    background: white;
    width: 50%;
    max-height: 70%;
    padding: 1rem;
    border-radius: 1rem;
  }

  .input-style {
    width: 300px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin: 5px;
  }

  .input-textbox {
    min-width: 500px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin: 5px;
  }

  .tetbox-lable {
    vertical-align: top;
  }

  .datepicker-style {
    margin: 10px;
  }

  .react-calendar__tile--active {
    background: #006edc !important;
  }

  tbody > tr:hover {
    background-color: #a9a9a998;
  }
  
  /* tbody > tr .selected {
    background-color: aqua;
  }
   */